<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="uppu-icons.html">
<link rel="import" href="shared-styles.html">

<dom-module id="uppu-nav-position">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        position: sticky;
        top: 0;
        z-index: 1;
      }
      :host([shadow])::before {
        opacity: 1;
      }

      :host::before {
        position: absolute;
        right: 0px;
        bottom: -5px;
        left: 0px;
        width: 100%;
        height: 5px;
        content: "";
        transition: opacity 0.4s;
        pointer-events: none;
        opacity: 0;
        box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
        will-change: opacity;
      }

      .nav {
        color: #fff;
        height: 48px;
        background-color: var(--app-primary-color);
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear;
        display: flex;
        flex-wrap: nowrap;
      }

      .left {
        flex: 1;
        display: inline-flex;
        align-self: center;
        align-items: center;
      }

      .left img {
        margin-left: 6px;
        margin-right: 10px;
        width: 36px;
        height: 36px;
      }

      .middle {
        flex: 1;
        align-self: center;
        text-align: center;
      }

      .right {
        flex: 1;
        display: inline-flex;
        align-self: center;
        align-items: center;
        justify-content: flex-end;
      }
      .link {
        cursor: pointer;
      }
      .appTitle {
          font-size: 16px;
      }
    </style>

    <nav class="nav">
      <paper-ripple></paper-ripple>
      <div class="left">
        <template is="dom-if" if="{{_isTopLevel}}">
          <img src="images/manifest/icon-48x48.png" on-click="_goToFirstView" class="link"></img>
        </template>
        <template is="dom-if" if="{{_isSubLevel}}">
          <paper-icon-button icon="uppu-icons:arrow-back"></paper-icon-button>
        </template>
        <template is="dom-if" if="{{_isWideLayout}}">
          <div on-click="_goToFirstView" class="link appTitle">[[_appTitle]]</div>
        </template>
      </div>
      <div class="middle">
        <div>[[_locationTitle]]</div>
      </div>
      <div class="right">
        <slot></slot>
        <paper-icon-button icon="uppu-icons:logout"></paper-icon-button>
      </div>
    </nav>
  </template>

  <script>
    class UppuNavPosition extends Polymer.mixinBehaviors([Polymer.IronResizableBehavior], Polymer.Element) {
      static get is() { return 'uppu-nav-position'; }

      static get properties() {
        return {
          view: {
            type: String,
            reflectToAttribute: true,
            notify: true,
            observer: '_viewChanged'
          },
          views: {
            type: Array,
            value: window.uppuConfig.views
          },
          _appTitle: {
            type: String,
            value: window.uppuConfig.title
          },
          shadow: {
            type: Boolean,
            reflectToAttribute: true,
            value: true
          },
          _locationTitle: {
            type: String,
            value: "404"
          },
          _isWideLayout: {
            type: Boolean,
            value: false
          },
          _isNarrowLayout: {
            type: Boolean,
            value: true
          },
          _isTopLevel: {
            type: Boolean,
            value: true
          },
          _isSubLevel: {
            type: Boolean,
            value: false
          }
        };
      }

      constructor() {
        super();
        this._boundHandleResize = this._handleResize.bind(this);
      }

      connectedCallback() {
        super.connectedCallback();
        // listen to scroll events
        this.addEventListener('iron-resize', this._boundHandleResize);

        this._boundHandleResize();
      }

      disconnectedCallback() {
        super.disconnetedCallback();
        window.removeEventListener('iron-resize', this._boundHandleResize);
      }

      _goToView(e) {

      }

      _goToFirstView() {
        this.view = this.views[0].name;
      }

      _viewChanged(selection, previous) {
        if(selection === undefined) {
          return;
        }

        for(var index in this.views) {
            var view = this.views[index];
            if(view.name === selection) {
              this._locationTitle = view.title;
              this._isTopLevel = true;
              this._isSubLevel = false;
              break;
            }

            // signal the correct top-level for sub views
            // allow max 2 more hierachies -> usually < 5*5*5 = 125 checks; acceptable effort
            if(view.children) {
              for(var childIndex in view.children) {
                var child = view.children[childIndex];
                if(child.name === selection) {
                  this._locationTitle = child.title;
                  this._isTopLevel = false;
                  this._isSubLevel = true;
                  break;
                }

                if(child.children) {
                  for(var grandIndex in child.children) {
                    var grandChild = child.children[grandIndex];
                    if(grandChild.name === selection) {
                      this._locationTitle = grandChild.title;
                      this._isTopLevel = false;
                      this._isSubLevel = true;
                      break;
                    }
                  }
                }
              }
            }
        }

      }

      _handleResize() {
        this.debounce("_handleResize", function() {
          if(window.matchMedia("(min-width: 640px)").matches) {
            this._isWideLayout = true;
            this._isNarrowLayout = false;
          }
          else {
            this._isWideLayout = false;
            this._isNarrowLayout = true;
          }
        });
      }
    }

    window.customElements.define(UppuNavPosition.is, UppuNavPosition);
  </script>
</dom-module>
