<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="uppu-icons.html">

<dom-module id="uppu-accordion">
  <template>
    <style>
      .header {
        cursor: pointer;
        overflow: hidden;
      }

      .content {
          flex: 1;
      }

      :not([opened]).content {
        display: none;
        overflow: hidden;
      }

    </style>

    <div class="header" on-click="_toggle">
      <div>[[title]]</div>
    </div>

    <div class="content" opened$="{{opened}}">
      <slot></slot>
    </div>

  </template>

  <script>
    class Accordion extends Polymer.Element {
      static get is() { return 'uppu-accordion'; }

      static get properties() {
        return {
          title: {
            type: String,
            reflectToAttribute: true
          },
          opened: {
            type: Boolean,
            value: false,
            notify: true,
            reflectToAttribute: true
          }
        };
      }

      _toggle() {
        this.opened = !this.opened;
        this.dispatchEvent(new CustomEvent('uppu-accordion-toggle', {detail: {title: this.title, opened: this.opened}, bubbles: true, composed: true}));
      }
    }

    window.customElements.define(Accordion.is, Accordion);
  </script>
</dom-module>
