<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="uppu-icons.html">

<dom-module id="uppu-input-password">
  <template>
    <style>
      :host {
        display: block;
      }

      paper-icon-button {
        padding: 0px 4px;
      }

      iron-icon {
        padding-right: 5px;
      }

    </style>

    <paper-input type="[[_getType(visible)]]" label="[[label]]" placeholder="[[placeholder]]" errorMessage="some error" invalid="[[invalid]]" value="[[value]]">
      <paper-icon-button slot="suffix" icon="[[_getIcon(visible)]]" on-click="_toggleVisibility"></paper-icon-button>
    </paper-input>
  </template>

  <script>
    class InputPassword extends Polymer.Element {
      static get is() { return 'uppu-input-password'; }

      static get properties() {
        return {
          visible: {
            type: Boolean,
            value: false
          },
          placeholder: {
            type: String,
            value: ""
          },
          label: {
            type: String,
            value: "Password"
          },
          errorMessage: {
            type: String,
            value: "Please enter a password",
            reflectToAttribute: true
          },
          value: {
            type: String,
            reflectToAttribute: true
          },
          invalid: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          }
        };
      }

      _getType(visible) {
        return visible? "": "password";
      }

      _getIcon(visible) {
        return visible? "uppu-icons:visibility" : "uppu-icons:visibility-off";
      }
      _toggleVisibility() {
        this.visible = !this.visible;
      }
    }

    window.customElements.define(InputPassword.is, InputPassword);
  </script>
</dom-module>
